!/config.ini
Models/tg_bot_models/migrations
Models/db.sqlite3
Models/TELIDAS.session
Models/fknewviet.session
Models/konfviet.session
Models/TELIDASЫЫЫ.session
.env
Models/venv
__pycache__/
.idea/
.vscode
config.ini